@import '_normalize';

body {
   background-color: #fff;
   color: rgb(99, 100, 104);
   font: 1em verdana, geneva, sans-serif;
   margin: 0;
}

h1 {
   text-align: center;
}

form {
   border: 1px solid #eee;
   border-radius: 20px;
   box-shadow: #ddd 5px 5px 5px;
   margin: 0 auto;
   padding: 50px;
   text-align: center;
   width: 500px;
}

form p {
   padding-right: 50px;
   text-align: right;
}

input[type="submit"], input[type="email"], input[type="text"], input[type="password"] {
   height: 20px;
   margin: 5px 0;
   padding: 5px 0;
   width: 250px;
}

input[type="submit"] {
   height: 40px;
   width: 150px;
}

input[type="text"], input[type="email"], input[type="password"] {
   padding: 10px;
}

input:focus {
   box-shadow: 5px 5px 5px rgb(99, 100, 104);
}

input {
   transition: 1s;
}

input[type="submit"] {
   vertical-align: top;
   width: 2em;
}

input:focus, textarea:focus {
   background-color: rgb(241, 92, 34);
   color: #fff;
}

input, textarea {
   border: 1px solid #aaa;
   border-radius: 10px;
   padding: 5px;
}

form+p {
   line-height: 1.5;
   margin: 50px auto 0 auto;
   width: 500px;
}

// The following rules only apply when an error related to MySQL is thrown in file
// index.php.
main#error {
   background-color: lighten(#ff0, 35%);
   margin: 0 auto;
   padding: 5% 10%;
   width: 80%;

   ul {
      margin-left: -40px;
   }

   h1 {
      margin: 0 0 5% 0;
   }

   q, code {
      color: lighten(#f00, 10%);
      font: 1.2em / 1.4 monospace;
   }

   q:before {
      content: "“";
   }

   q:after {
      content: "”";
   }

   pre {
      border: 1px dashed #f00;
      color: red;
      font: 1.2em / 1.4 monospace;
      padding: 30px;
   }
}
